<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>FreeCodeCamp - Voting APP</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" href="/public/css/index.css" />
	<link rel="stylesheet" href="/public/css/vote.css" />
</head>
<body>
	<header>
		<span id="logo">Voting App</span>
		<div id="header-buttons">
			<a id="login-button" class="header-button" href="index.html">Home</a>
			<a id="login-button" class="header-button" href="login.html"><strong>Log In</strong></a>
			<!-- <a id="user-button" class="header-button" href="profile.html">Mongui</a> -->
		</div>
	</header>
	
	<!-- body -->
	<%- partial(contentUrl, null) %>
</body>
</html>