<div id="container">
	<!-- Last ten polls -->
	<ul>
		<li><a href="poll.html?q=1">Poll example #1</a></li>
		<li><a href="poll.html?q=2">Poll example #2</a></li>
		<li><a href="poll.html?q=3">Poll example #3</a></li>
		<li><a href="poll.html?q=4">Poll example #4</a></li>
		<li><a href="poll.html?q=5">Poll example #5</a></li>
	</ul>
</div>