<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>FreeCodeCamp - Image Search Abstraction Layer API</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" href="/public/css/index.css" />
</head>
<body>
	<div id="container">
		<h1>Image Search Abstraction Layer API</h1>
		<h3>Usage:</h3>
		<pre>
<%=url%>/projects/isearch/lolcats
<%=url%>/projects/isearch/lolcats?offset=2
<%=url%>/projects/isearch/stats</pre>
	</div>
</body>
</html>